.custom__select__container {
  box-sizing: border-box;
  //overflow: hidden;
  position: relative;
  .input__container {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    .tick_svg {
      position: absolute;
      border-radius: 10px;
      height: 22px;
      width: 30px;
      padding-top: 3px;
      right: 32px;
      top: 1px;
      align-self: start;
      background-color: white;
      fill: grey;
    }
    .tick_green {
      fill: rgb(64, 254, 16);
    }
    .arrow_svg {
      position: absolute;
      border-radius: 10px;
      height: 22px;
      width: 30px;
      padding-top: 3px;
      right: 2px;
      top: 1px;
      align-self: start;
      background-color: white;
      transition: 1s transform;
      cursor: pointer;
      &:hover {
        fill: #e1590f;
        background-color: aqua;
      }
    }
    .up {
      transform: rotate(180deg);
      transition: 1s transform;
    }
    input {
      width: 100%;
      box-sizing: border-box;
      padding: 3px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .options {
    z-index: 10;
    position: absolute;
    background-color: white;
    // right: 10px;
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
    p {
      cursor: pointer;
      &:hover {
        background-color: aqua;
        color: black;
      }
    }
    .selected {
      background-color: aqua;
      color: black;
    }
  }
  .closed {
    display: none;
  }
}
