@import "../../partials/pageSettings";
.book__data {
  display: flex;
  @include page(10px);
  gap: 10px;
  padding: 5px;
  background-color: #e5e1d8;
  .cover {
    width: 400px;
    object-fit: cover;
    height: 500px;
    border: 1px solid black;
  }
  .desc {
    text-align: justify;
  }
  .genres {
    display: flex;
    gap: 5px;
    button {
      padding: 2px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      background-color: aqua;
      &:hover {
        box-shadow: inset 0 0 5px blue;
      }
    }
  }
  @media (max-width: 800px) {
    margin: 10px;
    .cover {
      width: 300px;
      height: 300px;
    }
  }
}
