.user__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid salmon;
  // img {
  //   width: 50px;
  //   height: 50px;
  //   border-radius: 50%;
  // }
  span:first-of-type {
    width: 50px;
  }
  span:last-of-type {
    width: 54px;
  }
  span {
    width: 10px;
  }
}
