.input__field {
  position: relative;
  display: flex;
  flex-direction: column;
  .input__icon {
    position: absolute;
    right: 8px;
    top: 26px;
    height: 20px;
    width: 20px;
    &:hover {
      fill: blue;
    }
    cursor: pointer;
  }
  input {
    padding: 0px 5px 0px 5px;
  }
}
